In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.max_columns = None

ModuleNotFoundError: No module named 'cooltricks'

In [46]:
df = pd.read_stata('dataprep2.dta')

In [162]:
time_list = ['time' + str(x) for x in range(1,8)]
cohort_list = ['cohort' + str(x) for x in range(1,8)]
df2 = df[['HHID','realyear', 'wave', 'dead', 'assets', 'age'] + time_list + cohort_list]

list_ind = df2.loc[(df2['realyear'] > 94) & (df2['dead'] == 0), 'HHID'].unique()
df2 = df2[df2['HHID'].isin(list_ind)] # asset data for 1994 is underreported and hence not used
df2 = df2[df2['realyear'] > 94]

def get_dum(row, col_names):
    for c in col_names:
        if row[c] == 1:
            return int(c[-1])
df2['time'] = df2.loc[:, time_list].apply(get_dum, args = (time_list,), axis=1)
df2['cohort'] = df2.loc[:, cohort_list].apply(get_dum, args = (cohort_list,), axis=1)
df2.drop(time_list+cohort_list, axis=1, inplace=True)

# initial assets by cohort according to paper; some grouping and errors(?) corrected
df3 = df2[df2['realyear'] == 96].copy()
bins = [71, 76, 81, 86, 91, 102]
names = [x for x in range(1,6)]
df3['cohort'] = pd.cut(df3['age'], bins, labels=names)

# prepare data for use in matlab
df_assets = df3[['cohort','assets']].sort_values('cohort').dropna().set_index('cohort')
df_assets.to_csv('assets.csv', header=False)

In [160]:
df_assets.index.isna().sum()

0

In [145]:
df3.groupby('cohort').agg({'assets': 'describe'})

       assets                                                          \
        count           mean           std           min          25%
cohort
1       711.0  157857.468750  378887.09375 -41877.550781  7066.836670
2       745.0  152657.546875  507216.28125 -12772.375000  6281.632812
3       645.0  136429.281250  472914.06250 -10469.387695  2617.346924
4       366.0  135908.312500  299462.37500  -1570.408203  3140.816406
5       159.0  189394.390625  649725.25000      0.000000   680.510223


                 50%            75%          max
cohort
1       57581.632812  165083.921875   4678984.00
2       54440.816406  142383.671875  10000000.00
3       44808.980469  120712.039062  10000000.00
4       39711.957031  111012.416016   2202012.25
5       20938.775391  100244.390625   5117605.00